asn1crypto==1.5.1
boto3==1.43.111
botocore==1.43.111
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.2
cloudpickle==3.1.2
contourpy==1.4.0
cryptography==50.0.2
cycler==0.12.1
filelock==3.32.7
fonttools==4.66.1
idna==3.20
jmespath==1.1.0
joblib==1.6.0
kiwisolver==1.5.1
matplotlib==3.11.2
narwhals==2.27.1
numpy==2.5.3
packaging==26.3
pandas==3.0.6
pillow==12.3.0
platformdirs==4.12.4
pycparser==3.11
PyJWT==2.15.1
pyOpenSSL==26.4.0
pyparsing==3.3.3
python-dateutil==2.9.0.post0
pytz==2026.5
requests==2.34.2
s3transfer==0.19.2
scikit-learn==1.9.1
scipy==1.18.1
six==1.17.0
snowflake-connector-python==4.8.0
sortedcontainers==2.4.0
threadpoolctl==3.7.0
tomlkit==0.15.1
typing_extensions==4.16.0
tzdata==2026.5
urllib3==2.8.0
